.nc_container {
    height: 1000px;
    width: 75%;
    margin: 10px auto 0 auto;
    border: 1px solid rgb(241,95,35);
}

.new-clients-div {
    height: 60px;
    text-align: center;
    background-color: rgb(241,95,35);
    font-size: 36px;
}

.fees {
    height: 700px;
    text-align: left;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
    overflow: hidden;
    overflow: auto;
    overflow: scroll;
}

.intro-text {
    text-align: center;
    font-size: 24px;
}