.footer {
    height: 200px;
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    justify-items: center;
}

#h3Footer {
    text-align: center;
}

#item1 {
    width: 100%;
    grid-column: 1 / 2;
    text-align: center;
}

#item2 {
    width: 100%;
    grid-column: 2 / 3;
    text-align: center;
}

#item3 {
    width: 100%;
    grid-column: 3 / 4;
    text-align: center;
}