.navbar {
    height: 100px;
    width: 100%;
    padding: 5px;
    background: #96a1a8;
    box-shadow: 3px 3px 3px darkslategray;
}

.shine-on-logo {
    height: 100%;
    margin-top: 0px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signed-in {
    background: #96a1a8;
    color: #fcf8f6;
}
