.navbar {
    height: 100px;
    width: 100%;
    margin-top: 0;
    background: #ffffff;
}

#small-logo {
    height: 100px;
    width: 300px;
    margin-left: 0;
    float: left;
    box-shadow: 3px 3px 3px gray;
}

button {
    display: block;
    width: 25%;
    margin: 10px auto 10px auto;
    border-radius: 25px;
}