.services_container {
    height: 1200px;
    width: 75%;
    margin: 10px auto 0 auto;
    border: 1px solid rgb(241,95,35);
}

.services-div {
    height: 100px;
    text-align: center;
    background-color: rgb(241,95,35);
    font-size: 36px;
}

.services {
    height: 1000px;
    text-align: left;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
    overflow: hidden;
    overflow: auto;
    overflow: scroll;
}

.intro-text {
    text-align: center;
    font-size: 24px;
}