.App {
  /* text-align: center; */
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h4 {
  font-size: 32px;
}

.link-container {
  height: 300px;
  font-size: 48px;
  padding: 20px;
  width: 100%;
  margin-left: 10%;
  background-image: url('/images/.jpg')
}

/* a normal, unvisited link */
a:link {
  font-size: 48px;
  color: black;
  text-decoration: underline;
}

/* a link the user has visited */
a:visited {
  font-size: 48px;
  color: black;
}

/* a link when the user mouses over it */
a:hover {
  font-size: 48px;
  color: rgb(241,95,35)

}

/* a link the moment it is clicked */
a:active {
  font-size: 52px;
  color: rgb(241,95,35)

}