h4 {
  font-size: 32px;
}

.container {
  background-image: url('/images/canva3.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  margin: 0 auto 0 auto;
}

.link-container {
  height: 300px;
  font-size: 48px;
  margin: 0 auto 0 auto;
  width: 75%;
}

/* a normal, unvisited link */
a:link {
  font-size: 48px;
  color: black;
  text-decoration: underline;
}

/* a link the user has visited */
a:visited {
  font-size: 48px;
  color: black;
}

/* a link when the user mouses over it */
a:hover {
  font-size: 48px;
  color: rgb(241,95,35)

}

/* a link the moment it is clicked */
a:active {
  font-size: 52px;
  color: rgb(241,95,35)
}